/* title in top right, add a logo manually??? */
.title {
    font-size: 20px;
    color: #663c31;
    margin: auto;
    left: 50%;
  }
  
  .image {
    position: absolute;
    right: 70px;
    top: 100px;
  }
  
  /* all styles */
  body {
    font-family: montserrat;
    background-color: #fffde5;
  
    justify-content: center;
    align-items: center;
    height: 900px;
  }
  
  #form-container {
    /* margin: 0 auto; */
    margin-top: auto;
    margin-bottom: auto;
    height: 720px;
    background-color: #edb1b9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
  }
  
  
  .ingredient-box {
    display: flex;
  
    margin-bottom: 10px;
    align-items: center;
  }
  
  .timeToCookContainer {
    color: #663c31;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 5%;
    width: 74%;
    padding: 15px;
    display: block;
    font-size: 30px;
    margin: auto;
  }
  
  .time-input {
    color: #fffde5;
    display: block;
    position: absolute;
    bottom: 15px;
    left: 15%;
    width: 10%;
    padding: 2px;
    display: block;
    font-size: 23px;
    margin: auto;
  }
  
  .ingredient-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .tb1 {
    background-color: #505050;
    background-image: url(images/mb_btn2.jpg);
    color: #0090ff;
    border-style: none;
  }
  
  .add-button,
  .remove-button {
    background-color: #fffde5;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
  }
  
  .add-button {
    color: #663c31;
    border: 1px solid #663c31;
  }
  
  .remove-button {
    color: red;
    margin-left: 10px;
    border: 1px solid #663c31;
  }
  
  .pushButton {
    color: #fffde5;
  }
  
  .cookButton {
    display: block;
    position: absolute;
    bottom: 35px;
    left: 43%;
    width: 15%;
    padding: 15px;
    font-size: 40px;
    display: block;
    margin: auto;
  
    cursor: pointer;
    background-color: #fffde5;
  }
  
  @font-face {
    font-family: montserrat;
    src: url(Montserrat-Regular.ttf);
  }
  
  /* From Uiverse.io by aasisodiya */
  button {
    background-color: #b18958;
    font-family: montserrat;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 75px;
    border-radius: 1rem;
    color: #edb1b9;
    box-shadow: 0 0.4rem #663c31;
    cursor: pointer;
  }
  
  button:active {
    color: #fffde5;
    box-shadow: 0 0.2rem #663c31;
    transform: translateY(0.2rem);
  }
  
  button:hover:not(:disabled) {
    background: #b18958;
    color: #fffde5;
    text-shadow: 0 0.1rem #663c31;
  }
  
  button:disabled {
    cursor: auto;
    color: #663c31;
  }

  /* Textbox new */

body {
      
      font-size: 10px;
      margin: 0;
      display: grid;
      height: 100vh;
  }

.c-checkbox {
    display: none;

    &:checked + .c-formContainer {
        .c-form {
            width: 37.5em;
        }

        .c-form__toggle {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
        }

        .c-form__input,
        .c-form__buttonLabel {
            transition: 0.2s 0.1s;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    &:not(:checked),
    &:checked {
        + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
            content: 'Thank You! \1F60A';
        }
    }

    &:not(:checked) + .c-formContainer {
        .c-form__input:required:valid ~ .c-form__toggle {
            pointer-events: none;
            cursor: default;
        }
    }
}

.c-formContainer,
.c-form,
.c-form__toggle {
    width: 20em;
    height: 5.25em;
}

.c-formContainer {
    position: absolute;
    top: 780px;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    position: absolute;
    width: 310px;
    border-radius: 6.25em;
    background-color: white;
    transition: 0.2s;
}

.c-form {
    left: 110%;
    bottom: -62px;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(black, 0.3);

    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color:#edb1b9;
    padding: 0px;
    top: 0;
    cursor: pointer;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        font-size: 1.75em;
        content: attr(data-title);
    }
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    color: pink;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;

    &::placeholder {
        color: currentColor;
    }

    &:required:valid {
        color: salmon;

        + .c-form__buttonLabel {
            color: white;
            

            &::before {
                pointer-events: initial;
            }
        }
    }
}

.c-form__buttonLabel {
    height: 50px;
    width: 100px;
    
    &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
    }
}

.c-form__button {
    color: inherit;
    padding: 0;
    height: 75%;
    width: 90%;
    background-color:#b18958;
}
  
  /* TEXTBOX */
  /* body {
      
      font-size: 10px;
      margin: 0;
      display: grid;
      height: 100vh;
      place-items: center;
  } */
  /* 
  .c-checkbox {
      display: none;
  
      &:checked + .c-formContainer {
          .c-form {
              width: 37.5em;
          }
  
          .c-form__toggle {
              visibility: hidden;
              opacity: 0;
              transform: scale(0.7);
          }
  
          .c-form__input,
          .c-form__buttonLabel {
              transition: 0.2s 0.1s;
              visibility: visible;
              opacity: 1;
              transform: scale(1);
          }
      }
  
      &:not(:checked),
      &:checked {
          + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
              content: 'Thank You! \1F60A';
          }
      }
  
      &:not(:checked) + .c-formContainer {
          .c-form__input:required:valid ~ .c-form__toggle {
              pointer-events: none;
              cursor: default;
          }
      }
  }
  
  .c-formContainer,
  .c-form,
  .c-form__toggle {
      width: 20em;
      height: 6.25em;
      
  }
  
  .c-formContainer {
      position: absolute;
      font-weight: 700;
  }
  
  .c-form,
  .c-form__toggle {
      position: absolute;
      border-radius: 6.25em;
      transition: 0.2s;
  }
  
  .c-form {
      left: 50%;
      transform: translateX(-50%);
      padding: 0.625em;
      box-sizing: border-box;
      /* box-shadow: 0 0.125em 0.3125em rgba($black, 0.3); */
  
  /* display: flex;
      justify-content: center;
  }
  
  .c-form__toggle {
      display: block;
      position: absolute;
      top: 600px;
      left: 15%;
  
  
      font-size: 15px;
      color: #663c31;
      background-color: white;
      
      padding: 0px; */
  
  /* top: 0; */
  /* cursor: pointer;
      z-index: 1;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      &::before {
          font-size: 1.75em;
          content: attr(data-title);
      }
  }
  
  .c-form__input,
  .c-form__button {
      display: block;
      position: absolute;
      bottom: -660px;
      left: 120px;
      
      color: #663c31;
  
  
      font: inherit;
      border: 0;
      outline: 0;
      border-radius: 5em;
      box-sizing: border-box;
  }
  
  .c-form__input,
  .c-form__buttonLabel {
      font-size: 1.75em;
      opacity: 0;
      visibility: hidden;
      transform: scale(.9);
      transition: 0s;
  }
  
  .c-form__input {
      display: block;
      position: absolute;
      bottom: -660px;
      left: 140px;
      color: #663c31;
  
  
      height: 100%;
      width: 45%;
      padding: 0 0.714em;
  /* 
      &::placeholder {
          color: currentColor;
      }
  
      &:required:valid {
  
          + .c-form__buttonLabel {
  
              &::before {
                  pointer-events: initial;
              }
          }
      } */
  
  /* 
  .c-form__buttonLabel {
      height: 100%;
      width: auto;
      
      &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          pointer-events: none;
          cursor: pointer;
      }
  }
  
  .c-form__button {
      color:#663c31;
      padding: 0;
      height: 100%;
      width: 5em;
  }   */
  