/* title in top right, add a logo manually??? */
#chefTitle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    font-weight: bold;
    color: lightgreen;
    background-color: black;

}

#title {
    align-items: center;
    display: flex;
}

/* all styles */
body {
    font-family: montserrat;
    background-color: #f5f5f5;
    /* margin: 0;
    padding: 0;
    
    */
    justify-content: center; 
    align-items: center;
    height: 100vh;
}



#form-container {
    height:800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

.ingredient-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ingredient-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.add-button, .remove-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.add-button {
    color: green;
}

.remove-button {
    color: red;
    margin-left: 10px;
}

.cookButton {
    display: block;
    width: 12%;
    padding: 15px;
    font-size: 40px;
    display: block;
    margin: auto;

    cursor: pointer;
    background-color: white;
    border: 1px solid black;

    
}

@font-face {
    font-family: montserrat;
    src: url(Montserrat-Regular.ttf);
}

/* From Uiverse.io by aasisodiya */ 
button {
    background-color: #eee;
    font-family: montserrat;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 75px;
    border-radius: 1rem;
    color: #FFBBE6;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: #FFBBE6;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }
